<div class="modal fade modal-load <?=$jatbi->ajax('load')?>" tabindex="-1">
	<div class="modal-dialog pt-standalone">
		<div class="modal-content rounded-5 bg-transparent border-0">
			<div class="modal-body">
				<div class="input-group mb-3 bg-body rounded-pill border border-eclo shadow-lg">
				  <input type="text" class="form-control py-4 ps-4 bg-transparent pe-0 border-0 rounded-start-pill" placeholder="<?=$jatbi->lang("Tìm kiếm")?>" aria-label="<?=$jatbi->lang("Tìm kiếm")?>" aria-describedby="button-addon2">
				  <button class="btn rounded-end-pill border-0 bg-transparent" type="button" id="button-addon2"><i class="ti ti-search fs-4"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>