<div class="modal fade modal-load <?=$jatbi->ajax('load')?>" tabindex="-1"  data-bs-backdrop="static">
	<div class="modal-dialog  modal-dialog-centered pt-standalone">
		<div class="modal-content rounded-5 border-0 shadow-lg">
			<div class="d-flex w-100 justify-content-end align-items-center position-relative">
				<button type="button" class="btn btn-eclo position-absolute z-1 rounded-circle d-flex align-items-center justify-content-center width height top right" data-bs-dismiss="modal" aria-label="Close " style="--width:50px;--height:50px;--top:-5px;--right:-5px">
					<i class="ti ti-x fs-4"></i>
				</button>
			</div>
			<div class="modal-body" >
				<h5 class="fw-bold text-body mb-3"><?=$title?></h5>
				<div class="mb-3 col-12 text-truncate"><?=$data['name']?></div>
				<form method="POST" action="<?=$_SERVER['REQUEST_URI']?>">
				<div class="mb-3"  modal-move-load >
					<ul class="breadcrumb small mb-0 border p-2 mb-3 rounded-pill align-items-center">
						<li class="breadcrumb-item small text-body" aria-current="page">
							<a href="<?=$jatbi->url('/files/'.$type.'-move/'.$data['active'].'?folder='.$back)?>" data-pjax data-pjax-history="false" data-selector="[modal-move-load]"  class="btn btn-light p-0 width height rounded-circle border-0 me-2" style="--width:20px;--height:20px;"><i class="ti ti-arrow-left me-1 fs-5"></i></a>
	            			<a data-pjax data-pjax-history="false" data-selector="[modal-move-load]" href="<?=$jatbi->url('/files/'.$type.'-move/'.$data['active'])?>" data-pjax class="link-secondary"><?=$jatbi->lang("Mục chính")?></a>
		                </li>
						<?php if(isset($subs)){ ?>
		                	<?php foreach($subs as $sub){ ?>
				                <li class="breadcrumb-item small text-body" aria-current="page">
		                			<a data-pjax data-pjax-history="false" data-selector="[modal-move-load]" href="<?=$jatbi->url('/files/'.$type.'-move/'.$data['active'].'?folder='.$sub['active'])?>" data-pjax class="link-secondary"><?=$sub['name'] ?? ''?></a>
				                </li>
				            <?php } ?>
		                <?php } ?>
		            </ul>
		            <div class="form-check border p-2 w-100 mb-2 rounded-pill d-flex align-items-center">
		            	<input type="radio" class="form-check-input ms-0 me-2 mt-0 rounded-circle" name="folder" value="<?=$getfolder['active']?>" id="<?=$getfolder['active']?>" autocomplete="off">
						<label class="btn btn-checked border-0 w-100 p-0" for="<?=$getfolder['active']?>">
							<div class="d-flex justify-content-between align-items-center">
								<div class="d-flex align-items-center">
									<i class="ti ti-folder fs-5 me-2"></i>
									<span><?=$getfolder['name']?></span>
								</div>
								<div class="">
									<div class="btn btn-success p-2 btn-sm rounded-circle border-0 width height d-flex align-items-center justify-content-center" style="--width:30px;--height:30px;"><i class="ti ti-home fs-6"></i></div>
								</div>
							</div>
						</label>
					</div>
					<?php foreach ($folders as $key => $folder) { ?>
					<div class="form-check border p-2 w-100 mb-2 rounded-pill d-flex align-items-center">
						<input type="radio" class="form-check-input ms-0 me-2 mt-0 rounded-circle" name="folder" value="<?=$folder['active']?>" id="<?=$folder['active']?>" autocomplete="off">
						<label class="btn btn-checked border-0 p-0 w-100" for="<?=$folder['active']?>">
							<div class="d-flex justify-content-between align-items-center">
								<div class="d-flex align-items-center">
									<i class="ti ti-folder fs-5 me-2"></i>
									<span><?=$folder['name']?></span>
								</div>
								<div class="">
									<a data-pjax data-pjax-history="false" data-selector="[modal-move-load]" href="<?=$jatbi->url('/files/'.$type.'-move/'.$data['active'].'?folder='.$folder['active'])?>" class="btn btn-eclo p-2 btn-sm rounded-circle border-0 width height d-flex align-items-center justify-content-center" style="--width:30px;--height:30px;"><i class="ti ti-folder-symlink fs-6"></i></a>
								</div>
							</div>
						</label>
					</div>
					<?php } ?>
				</div>
				<div class="col-lg-12">
					<button type="submit" class="btn btn-eclo w-100 py-3 rounded-pill fw-bold" data-action="submit" data-alert="true" data-load="this"><?=$jatbi->lang("Di chuyển")?></button>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>