<div class="modal fade modal-load <?=$jatbi->ajax('load')?>" tabindex="-1"  data-bs-backdrop="static">
	<div class="modal-dialog modal-dialog-centered pt-standalone">
		<div class="modal-content rounded-5 border-0 shadow-lg">
			<div class="d-flex w-100 justify-content-end align-items-center position-relative">
				<button type="button" class="btn btn-eclo position-absolute z-1 rounded-circle d-flex align-items-center justify-content-center width height top right" data-bs-dismiss="modal" aria-label="Close " style="--width:50px;--height:50px;--top:-5px;--right:-5px">
					<i class="ti ti-x fs-4"></i>
				</button>
			</div>
			<div class="modal-body">
				<h5 class="fw-bold text-body mb-3"><?=$title?></h5>
				<div class="min-height mb-4" style="--min-height:300px">
					<div id="drop-area" class="border border-eclo rounded-4 text-muted p-2 min-height" style="--min-height:300px;">
				    	<div id="file-list"></div>
						<div class="mb-2 text-center drop-area">
							<img src="/assets/img/upload.svg" class="w-50">
							<span class="d-block fw-bold"><?=$jatbi->lang("Kéo và thả file vào đây")?></span>
						</div>
					</div>
				    <input type="file" id="file-input" multiple style="display: none;">
				</div>
				<button type="submit" class="btn btn-eclo w-100 py-3 rounded-pill fw-bold" data-action="upload" data-url="<?=$_SERVER['REQUEST_URI']?>" <?=$assets?> ><?=$jatbi->lang("Tải lên")?></button>
			</div>
		</div>
	</div>
</div>