<div class="modal fade modal-load <?=$jatbi->ajax('load')?>" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered  pt-standalone">
		<div class="modal-content rounded-5 border-0 shadow-lg">
			<div class="d-flex w-100 justify-content-end align-items-center position-relative">
				<button type="button" class="btn btn-eclo position-absolute z-1 rounded-circle d-flex align-items-center justify-content-center width height top right" data-bs-dismiss="modal" aria-label="Close " style="--width:50px;--height:50px;--top:-5px;--right:-5px">
					<i class="ti ti-x fs-4"></i>
				</button>
			</div>
			<div class="modal-body">
				<h5 class="fw-bold text-body mb-3"><?=$jatbi->lang("Đổi mật khẩu")?></h5>
				<form method="POST" action="<?=$_SERVER['REQUEST_URI']?>">
					<?=$app->component('input',[
                        "name"=>'password-old',
                        "placeholder"=>$jatbi->lang("Mật khẩu cũ"),
                        "type" => 'password',
                        "required" => 'true',
                    ])?>
                    <?=$app->component('input',[
                        "name"=>'password',
                        "placeholder"=>$jatbi->lang("Mật khẩu mới"),
                        "type" => 'password',
                        "required" => 'true',
                    ])?>
                    <?=$app->component('input',[
                        "name"=>'password-confirm',
                        "placeholder"=>$jatbi->lang("Xác nhận mật khẩu"),
                        "type" => 'password',
                        "required" => 'true',
                    ])?>
					<div class="text-end">
						<button type="submit" class="btn btn-eclo w-100 py-3 rounded-pill" data-action="submit" data-alert="true" data-load="this"><?=$jatbi->lang("Thay đổi")?></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>